/*轮播图*/
.swiper-container{
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
}
.swiper-wrapper{
    width: 800%;
    /*height: 100%;*/
}
.swiper-wrapper div{
    float: left;
}
.swiper-wrapper img{
    width: 100%;
}
/*分页器*/
.swiper-container .swiper-pagination{
    font-size: 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 13.8rem;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet{
    display: inline-block;
    margin: 0 0.133333rem 0 0.133333rem;
    width: 0.426667rem;
    height: 0.426667rem;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 50%;
    transform: scale(0.625);
    transition: 0.3s;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
    background: rgba(255, 255, 255, 1);
    transform: scale(1);
}
